.my-swiper {
  height: 100%;
  width: 100%;
}

.swiper-wrapper {
  margin-top: 50px;
  padding: 0 10px 20px 0;
}

.extraMargin {
  margin-left: 5px;
}

ngb-progressbar {
  width: 40%;
  height: 2rem!important;
  margin: auto;
  background-color: white!important;
  border: #30235B 5px solid;
  border-radius: 20px!important;
}

.doneBtn-1 {
  background-color: #D0C7EC;
}

.doneBtn-2 {
  background-color: #9F92C6;
}

.doneBtn-3 {
  background-color: #634C9A;
}

.doneBtn-Img {
  background-image: url("../../../assets/check.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.task-bottom {
  border-bottom:none;
  background:linear-gradient(#dee2e6,#dee2e6) bottom /* left or right or else */ no-repeat;
  background-size:85% 1px;
}

.task-bottom:last-child {
  background: none;
}

.swiper-slide-active {
  padding: 0 10px 0 60px;
}

.swiper-slide-next {
  padding: 0 60px 0 10px;
}

.swiper-button-next {
  color: #634C9A !important;
  //padding-left: 70px;
}

.swiper-button-prev {
  color: #634C9A !important;
  //padding-right: 70px;
}

.container-subcat {
  width: 350px;
}

.textoverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
