<swiper
  [slidesPerView]="2"
  [spaceBetween]="10"
  [navigation]="true"
  [pagination]="false"
  class="my-swiper display-swiper-lg-only"
>
  <ng-template swiperSlide>
    <div class="container-shadow bg-white">
    <h2 class="text-center" (click)="showCategory(category)">Allgemein</h2>
    <div class="row mt-4">
      <div><ngb-progressbar type="primary" *ngIf="categoryTasks" [value]="(categoryTasks | done).length" [max]="categoryTasks.length"></ngb-progressbar></div>
    </div>

    <div class="row mt-5">
      <div class="col-3-lg col-md">
          <div class="row justify-content-center task-bottom" *ngFor="let t of categoryTasks | notDone" (click)="detailsTask(t)"> <!-- uses custom pipe notDone -->
            <div class="col-2 my-3">
              <button class="btn-circle btn-xl bg-info" (click)="$event.stopPropagation(); finishTask(t)"></button>
            </div>
            <div class="col-4 d-flex align-items-center my-2 textoverflow">{{t.task_name}}</div>
            <div class="col-3 d-flex align-items-center justify-content-end my-2 mx-3">
              <div class="bg-dark rounded px-1 task-deadline">{{t.deadline | date: 'mediumDate'}}</div>
            </div>
          </div>
        <div class="d-flex justify-content-center">
          <button class="btn bg-primary text-light m-3" (click)="showCategory(category)">Mehr</button>
        </div>
      </div>

    </div>
    </div>
  </ng-template>
  <ng-template swiperSlide *ngFor="let s of subcategories">
    <div class="container-shadow bg-white">
    <div class="swiper-slide-container">
      <h2 class="text-center" (click)="showCategory(s)">{{s.category_name}}</h2>
      <button class="btn btn-light" (click)="editCategory(s)"><i class="fa fa-edit"></i></button>
      <button class="btn btn-light" (click)="deleteCategory(s)"><i class="fa fa-trash-o"></i></button>
      <div class="row mt-4">
      <div><ngb-progressbar type="primary" *ngIf="allTasks" [showValue]="true" [value]="(allTasks | ofCategory:s.CAID | done).length" [max]="(allTasks | ofCategory:s.CAID).length"></ngb-progressbar></div>
      </div>
      <div class="row mt-5">
        <div class="col-lg col-md">
            <div class="row justify-content-center task-bottom" *ngFor="let t of allTasks | ofCategory:s.CAID | notDone" (click)="detailsTask(t)"> <!-- uses custom pipe notDone -->
              <div class="col-2 my-3">
                <button class="btn-circle btn-xl bg-info" (click)="$event.stopPropagation(); finishTask(t)"></button>
              </div>
              <div class="col-4 d-flex align-items-center my-2 textoverflow">{{t.task_name}}</div>
              <div class="col-3 d-flex align-items-center justify-content-end my-2 mx-3">
                <div class="bg-dark rounded px-1 task-deadline">{{t.deadline | date: 'mediumDate'}}</div>
              </div>
            </div>
          <div class="d-flex justify-content-center">
            <button class="btn bg-primary text-light m-3" (click)="showCategory(s)">Mehr</button>
          </div>
        </div>
      </div>

      <!--<h2>Offen</h2>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">Titel</div>
        <div class="col-md-2">Deadline</div>
      </div>
      <div class="row" *ngFor="let t of allTasks | ofCategory:s.CAID | notDone">
        <div class="col-md-2">
          <button class="btn btn-primary" (click)="finishTask(t)">Finish</button>
        </div>
        <div class="col-md-2">{{t.task_name}}</div>
        <div class="col-md-2">{{t.deadline | date: 'mediumDate'}}</div>
      </div>

      <br>-->

      <!--<h2>Erledigt</h2>

      <div class="row">
        <div class="col-md-2">Titel</div>
        <div class="col-md-2">Deadline</div>
      </div>
      <div class="row" *ngFor="let t of allTasks | ofCategory:s.CAID | done">
        <div class="col-md-2">{{t.task_name}}</div>
        <div class="col-md-2">{{t.deadline | date: 'mediumDate'}}</div>
      </div>-->
    </div>
    </div>
  </ng-template>
</swiper>

<swiper
  [slidesPerView]="'auto'"
  [spaceBetween]="10"
  [navigation]="false"
  [pagination]="false"
  [centeredSlides]="true"
  class="my-swiper display-swiper-sm-only"
>
  <ng-template swiperSlide>
    <div class="container-shadow bg-white">
      <h2 class="text-center">Allgemein</h2>
      <div class="row mt-4">
        <div><ngb-progressbar type="primary" *ngIf="categoryTasks" [value]="(categoryTasks | done).length" [max]="categoryTasks.length"></ngb-progressbar></div>
      </div>

      <div class="row mt-5">
        <div class="col-lg col-md">
          <div class="row justify-content-center task-bottom" *ngFor="let t of categoryTasks | notDone" (click)="detailsTask(t)"> <!-- uses custom pipe notDone -->
            <div class="col-2 my-3">
              <button class="btn-circle btn-xl bg-info" (click)="$event.stopPropagation(); finishTask(t)"></button>
            </div>
            <div class="col-4 d-flex align-items-center my-2">{{t.task_name}}</div>
            <div class="col-3 d-flex align-items-center justify-content-end my-2">
              <div class="bg-dark rounded px-1 task-deadline">{{t.deadline | date: 'mediumDate'}}</div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn bg-primary text-light m-3" (click)="showCategory(category)">Mehr</button>
          </div>
        </div>

      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide *ngFor="let s of subcategories">
    <div class="container-shadow bg-white">
      <div class="swiper-slide-container">
        <h2 class="text-center" (click)="showCategory(s)">{{s.category_name}}</h2>
        <div class="row mt-4">
          <div><ngb-progressbar type="primary" *ngIf="allTasks" [showValue]="true" [value]="(allTasks | ofCategory:s.CAID | done).length" [max]="(allTasks | ofCategory:s.CAID).length"></ngb-progressbar></div>
        </div>
        <div class="row mt-5">
          <div class="col-lg col-md">
            <div class="row justify-content-center task-bottom" *ngFor="let t of allTasks | ofCategory:s.CAID | notDone" (click)="detailsTask(t)"> <!-- uses custom pipe notDone -->
             <div class="col-2 my-3">
                <button class="btn-circle btn-xl bg-info" (click)="$event.stopPropagation(); finishTask(t)"></button>
              </div>
              <div class="col-4 d-flex align-items-center my-2">{{t.task_name}}</div>
              <div class="col-3 d-flex align-items-center justify-content-end my-2">
                <div class="bg-dark rounded px-1 task-deadline">{{t.deadline | date: 'mediumDate'}}</div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn bg-primary text-light m-3" (click)="showCategory(s)">Mehr</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
