.task-bottom {
  border-bottom:none;
  background:linear-gradient(#dee2e6,#dee2e6) bottom /* left or right or else */ no-repeat;
  background-size:85% 1px;
}

.task-bottom:last-child {
  background: none;
}

span{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #30235B;
}

.text-dashboard {
  font-weight: 300;
}

.heading-dashboard {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.textoverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spinner-bg-container {
  position: relative;
}

.spinner-bg {
  position: absolute;
}

:host ::ng-deep .mat-progress-spinner.mat-accent circle, .mat-spinner.mat-accent circle {
  stroke: #e1e1e1;
}

@media (max-width: 768px) {
  .text-dashboard {
    font-weight: 300;
    color: white;
  }
}

