<div class="row">
    <div class="col-md-2">Id</div>
    <div class="col-md-2">First Name</div>
    <div class="col-md-2">Last Name</div>
    <div class="col-md-2">Email</div>
    <div class="col-md-2">Edit</div>
    <div class="col-md-2">Delete</div>
</div>

<div class="row" *ngFor="let t of tasks">
    <div class="col-md-2">{{t.taskName}}</div>
    <div class="col-md-2">{{t.deadline}}</div>
    <div class="col-md-2"><a href="" class="btn btn-success">Edit</a></div>
    <div class="col-md-2"><button class="btn btn-danger" (click)="deleteTask(t)">Delete</button></div>
</div>


