<div class="row h-100">
  <div class="col-1" id="display-desktop" *ngIf="loggedIn()">
    <nav class="navbar bg-primary h-100 justify-content-center" id="navbar-desktop">
      <ul class ="nav navbar-nav ml-5">
        <li class ="nav-item text-center py-3">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
            <img src="assets/home.svg" width="60%" alt="Home Icon">
          </a>
        </li>
        <li class ="nav-item text-center py-3">
          <a class="nav-link" routerLink="overview" routerLinkActive="active">
            <img src="assets/list.svg" width="60%" alt="List Icon">
          </a>
        </li>
        <li class ="nav-item text-center py-3">
          <a class="nav-link" routerLink="timer" routerLinkActive="active">
            <img src="assets/hourglass.svg" width="60%" alt="Timer Icon">
          </a>
        </li>
        <li class ="nav-item text-center py-3">
          <a class="nav-link" routerLink="calendar" routerLinkActive="active">
            <img src="assets/calendar.svg" width="60%" alt="Calendar Icon">
          </a>
        </li>
        <li class ="nav-item text-center py-3 pt-4 mt-4 border-top">
          <a class="nav-link ">
            <img src="assets/settings.svg" width="70%" alt="Settings Icon">
          </a>
        </li>
        <li class ="nav-item text-center py-2">
          <a class="nav-link" routerLink="profile" routerLinkActive="active">
            <img src="assets/profile.svg" width="60%" alt="Profile Icon">
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-11">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-12" id="display-mobile" *ngIf="loggedIn()">
    <nav class="navbar bg-primary justify-content-center" id="nav-mobile">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
            <img src="assets/home.svg" width="70%" alt="Home Icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="overview" routerLinkActive="active">
            <img src="assets/list.svg" width="70%" alt="List Icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="timer" routerLinkActive="active">
            <img src="assets/hourglass.svg" width="70%" alt="Timer Icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="calendar" routerLinkActive="active">
            <img src="assets/calendar.svg" width="70%" alt="Calendar Icon">
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div id="display-plus">
    <a class="nav-link nav-item"  (click)="addPopup()">
      <img src="assets/add.svg" width="70px" alt="Add Icon">
    </a>
  </div>

</div>
