<div>
  <div id="mobile-background" *ngIf="loggedIn()" [ngClass]="{'header-mobile-tasks' : (getLocation()=='/all-tasks' || getLocation()=='/single-tasks' || getLocation()=='/my-day'), 'header-mobile' : (getLocation()!='/all-tasks' && getLocation()!='/single-tasks' && getLocation()!='/my-day')}">

    <div class="display-mobile-only">
      <div class="row pt-3 px-3" *ngIf="getLocation()!='/dashboard' && getLocation()!='/overview' && getLocation()!='/timer' && getLocation()!='/calendar' && getLocation()!='/profile' && getLocation()!='/my-day'">
        <div class="col">
          <button class="btn" appBackButton><i class="fa fa-chevron-left fa-lg"></i></button>
        </div>
        <div class="col d-flex justify-content-end">
          <a class="" routerLink="profile" routerLinkActive="active">
            <img src="assets/profilpicture.svg" alt="Profile Icon">
          </a>
        </div>
        <div class="col-12 text-center">
          <h1 class="p-0 m-0">Überschrift</h1>
        </div>
      </div>

      <div class="row pt-3 px-3" *ngIf="getLocation()=='/dashboard' || getLocation()=='/overview' || getLocation()=='/timer' || getLocation()=='/calendar' || getLocation()=='/profile' || getLocation()=='/my-day'">
        <div class="col">
          <h1 class="p-0 m-0">Überschrift</h1>
        </div>
        <div class="col d-flex justify-content-end">
          <a class="" routerLink="profile" routerLinkActive="active">
            <img src="assets/profilpicture.svg" alt="Profile Icon">
          </a>
        </div>
      </div>
    </div>

    <div class="w-100 bg-warning d-flex align-items-center" id="display-heading" *ngIf="loggedIn()">
      <button class="btn display-web-only" appBackButton *ngIf="getLocation()!='/dashboard' && getLocation()!='/overview' && getLocation()!='/timer' && getLocation()!='/calendar' && getLocation()!='/profile'"><i class="fa fa-chevron-left fa-lg"></i></button>
      <h1 class="display-web-only p-0 m-0">Überschrift</h1>
    </div>
    <div class="" id="display-desktop" *ngIf="loggedIn()">
      <nav class="navbar bg-primary h-100 justify-content-center" id="navbar-desktop">
        <ul class ="nav navbar-nav ml-5">
          <li class ="nav-item text-center py-3">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
              <img src="assets/home.svg" width="70%" alt="Home Icon">
            </a>
          </li>
          <li class ="nav-item text-center py-3">
            <a class="nav-link" routerLink="overview" routerLinkActive="active">
              <img src="assets/list.svg" width="70%" alt="List Icon">
            </a>
          </li>
          <li class ="nav-item text-center py-3">
            <a class="nav-link" routerLink="timer" routerLinkActive="active">
              <img src="assets/hourglass.svg" width="70%" alt="Timer Icon">
            </a>
          </li>
          <li class ="nav-item text-center pt-3 pb-4">
            <a class="nav-link" routerLink="calendar" routerLinkActive="active">
              <img src="assets/calendar.svg" width="70%" alt="Calendar Icon">
            </a>
          </li>
          <li class ="nav-item text-center pb-2 pt-5 mt-4 border-top">
            <a class="nav-link" routerLink="profile" routerLinkActive="active">
              <img src="assets/profile.svg" width="70%" alt="Profile Icon">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-11 offset-lg-1 offset-md-1 col-md-11 col-sm-12" *ngIf="loggedIn()">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!loggedIn()">
    <div class="col-12">
      <div class="container-fluid p-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div id="nav-mobile" *ngIf="loggedIn()">
    <nav class="d-flex justify-content-center align-items-center">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
            <img src="assets/home.svg" width="90%" alt="Home Icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="overview" routerLinkActive="active">
            <img src="assets/list.svg" width="90%" alt="List Icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center add-btn-pos" (click)="addPopup()">
            <img src="assets/add.svg" width="40%" alt="Add Icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="timer" routerLinkActive="active">
            <img src="assets/hourglass.svg" width="90%" alt="Timer Icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="calendar" routerLinkActive="active">
            <img src="assets/calendar.svg" width="90%" alt="Calendar Icon">
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div id="display-plus">
    <div class="containerWhile">
      <div class="containerCenterWhile">
        <a class="nav-link nav-item" (click)="addPopup()" *ngIf="loggedIn() && getLocation()!='/my-day' && getLocation()!='/insert-task' && getLocation()!='/insert-category'" >
          <img src="assets/add-alternative.svg" class="btnImg" alt="Add Icon">
        </a>
      </div>
    </div>

    <div class="containerWhile">
      <div class="containerCenterWhile">
        <a class="nav-link nav-item" (click)="addPlannedTaskOpen()" *ngIf="loggedIn() && getLocation()=='/my-day'" >
          <img src="assets/my-day-btn-alternative.svg" class="btnImg" alt="My Day Icon">
        </a>
      </div>
    </div>

    <div class="containerWhile">
      <div class="containerCenterWhile">
        <a class="nav-link nav-item" (click)="addPopup()" *ngIf="loggedIn() && getLocation()=='/insert-task'" >
          <img src="assets/check-btn-alternative.svg" class="btnImg" alt="Check Icon">
        </a>
      </div>
    </div>

    <div class="containerWhile">
      <div class="containerCenterWhile">
        <a class="nav-link nav-item" (click)="addPopup()" *ngIf="loggedIn() && getLocation()=='/insert-category'" >
          <img src="assets/check-btn.svg" class="btnImg" alt="Check Icon">
        </a>
      </div>
    </div>
  </div>

</div>

<app-spinner></app-spinner>
