#calendar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 50px;
  overflow-x: auto;
  width: 480px;
}

#calendar::-webkit-scrollbar {
  display: none;
}

#calendar-container {
  margin-top: 2rem;
}

.cal-distance-top {
  margin-top: 5rem;
}

:host ::ng-deep .day div {
  position: absolute;
  flex-shrink: 0;
  padding: 40px;
}

:host ::ng-deep .day {
  background-color: white;
  padding: 1px 7px;
  border-radius: 10px;
}

:host ::ng-deep .day p {
  margin: auto;
  text-align: center;
}

:host ::ng-deep .day.selected {
  background-color: #30235B;
  color: #ffffff;
  text-align: center;
  padding: 1px 7px;
  border-radius: 10px;
}

.hoverEffects {
  cursor: pointer;
}

.hoverEffects:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container-shadow {
    box-shadow: none;
  }
}
