<div class="mobile-distance">

  <div class="d-flex justify-content-center align-items-center">
    <button class="btn" (click)="prevMonth()"><i class="fa fa-chevron-left"></i></button>
    <span class="display-web-only"><b>{{this.selectedDate | date: 'MMMM y'}}</b></span>
    <span class="display-mobile-only"><b>{{this.selectedDate | date: 'MMM | y'}}</b></span>
    <button class="btn" (click)="nextMonth()"><i class="fa fa-chevron-right"></i></button>
  </div>

  <div class="d-flex justify-content-center" id="calendar-container">
    <button class="btn display-web-only arrow-shadow" (click)="leftScroll()"><i class="fa fa-chevron-left"></i></button>
    <div id="calendar"></div>
    <button class="btn display-web-only arrow-shadow" (click)="rightScroll()"><i class="fa fa-chevron-right"></i>
    </button>
  </div>

  <div class="row mt-5">
    <div class="col-3-lg col-md">
      <div class="container-shadow px-3 pt-3 pb-1 mb-2 bg-white">
        <h2 class="text-center mb-4 display-web-only">Offen</h2>
        <div class="text-center text-done mb-3" *ngIf="(deadlineTasks | notDone).length == 0">
          Du hast keine offenen Tasks an diesem Tag
        </div>
        <div class="row justify-content-center task-bottom"
             *ngFor="let t of deadlineTasks | notDone | slice: 0: loadAllTasks" (click)="detailsTask(t)">
          <!-- uses custom pipe notDone -->
          <div class="col-2 my-3">
            <button class="btn-circle btn-xl bg-info" (click)="$event.stopPropagation(); finishTask(t)"></button>
          </div>
          <div class="col-4 d-flex align-items-center my-2 textoverflow task-pointer">{{decodeSpecialCharacters(t.task_name)}}</div>
          <div class="col-3 d-flex align-items-center justify-content-end my-2">
            <div class="bg-dark rounded px-1 task-deadline">{{t.deadline | date: 'shortTime'}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-center task-bottom hoverEffects"
             *ngIf="deadlineTasks && loadAllTasks < (deadlineTasks | notDone).length"
             (click)="loadAllTasks = loadAllTasks + 5">
          <span>mehr laden</span>
        </div>
      </div>
    </div>

    <div class="col-3-lg col-md">
      <div class="container-shadow px-3 pt-3 pb-1 mb-2 bg-white">
        <h2 class="text-center mb-4">Erledigt</h2>
        <div class="text-center text-done mb-3" *ngIf="(deadlineTasks | done).length == 0">
          Du hast keine erledigten Tasks an diesem Tag
        </div>
        <div class="row justify-content-center task-bottom"
             *ngFor="let t of deadlineTasks | done | slice: 0: loadFinishedTasks" (click)="detailsTask(t)">
          <!-- uses custom pipe done -->
          <div class="col-2 my-3">
            <button class="btn-circle btn-xl doneBtn-{{t.expenseID}} doneBtn-Img" disabled></button>
          </div>
          <div class="col-3 d-flex align-items-center my-2 text-done textoverflow task-pointer">{{decodeSpecialCharacters(t.task_name)}}</div>
          <div class="col-4 d-flex align-items-center justify-content-end my-2">
            <div class="bg-dark rounded px-1 task-deadline text-light">{{t.deadline | date: 'shortTime'}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-center task-bottom hoverEffects"
             *ngIf="deadlineTasks && loadFinishedTasks < (deadlineTasks | done).length"
             (click)="loadFinishedTasks= loadFinishedTasks +5">
          <span>mehr laden</span>
        </div>
      </div>
    </div>
  </div>

</div>
