#calendar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
  width: 550px;
  padding: 1.5rem;
}

#calendar::-webkit-scrollbar {
  display: none;
}

#calendar-container {
  margin-top: 1rem;
}

:host ::ng-deep .day div {
  position: absolute;
  flex-shrink: 0;
  padding: 40px;
}

:host ::ng-deep div.day {
  background-color: white;
  padding: 1px 14px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}

:host ::ng-deep .day p {
  margin: auto;
  text-align: center;
}

:host ::ng-deep .day.selected {
  background-color: #30235B;
  color: #ffffff;
  text-align: center;
  padding: 1px 7px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.task-bottom {
  border-bottom:none;
  background:linear-gradient(#dee2e6,#dee2e6) bottom /* left or right or else */ no-repeat;
  background-size:85% 1px;
}

.task-bottom:last-child {
  background: none;
}

.hoverEffects {
  padding: 15px;
  cursor: pointer;
}

.hoverEffects:hover {
  text-decoration: underline;
}

.arrow-shadow {
  background-color: white;
  box-shadow: 0 0 5px 3px #ffffff;
  z-index: 1;
}

@media (max-width: 768px) {
  .container-shadow {
    box-shadow: none;
  }
}
