#calendar {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 50px;
  overflow-x: auto;
}

#calendar::-webkit-scrollbar {
  display: none;
}

:host ::ng-deep .day div {
  position: absolute;
  flex-shrink: 0;
  padding: 40px;
}

:host ::ng-deep .day p {
  margin: auto;
  text-align: center;
}

:host ::ng-deep .day.selected {
  background-color: #30235B;
  color: #ffffff;
  text-align: center;
  padding: 1px 7px;
  border-radius: 10px;
}
