ngb-progressbar {
  width: 40%;
  height: 2rem !important;
  margin: auto;
  background-color: white !important;
  border: #30235B 3px solid;
  border-radius: 20px !important;
}

.doneBtn-1 {
  background-color: #D0C7EC;
}

.doneBtn-2 {
  background-color: #9F92C6;
}

.doneBtn-3 {
  background-color: #634C9A;
}

.doneBtn-Img {
  background-image: url("../../../assets/check.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.task-bottom {
  border-bottom: none;
  background: linear-gradient(#dee2e6, #dee2e6) bottom /* left or right or else */
  no-repeat;
  background-size: 85% 1px;
}

.task-bottom:last-child {
  background: none;
}

.container-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#btn-scroll {
  display: none !important;
}

.display-web-only {
  display: block;
}

.top-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.hoverEffects {
  padding: 15px;
  cursor: pointer;
}

.hoverEffects:hover {
  text-decoration: underline;
}

.textoverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  ngb-progressbar {
    top: 50px;
    height: 1rem !important;
    border: 2px solid #30235B;
  }

  .container-shadow {
    box-shadow: none;
  }

  #btn-scroll {
    display: flex !important;
  }

  .progressbar-heading {
    top: 85px;
  }

  .btn-heading {
    top: 130px;
  }

  .distance-top {
    margin-top: 200px;
  }

  .display-web-only {
    display: none;
  }

  .rel-parentcat-header {
    position: relative;
    text-align: center;
  }

  .parentcat-name-header {
    display: inline-block;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
