
.calendar-wrapper {
  max-width: 500px;
  min-width: 200px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 8px;
}

.igx-calendar {
  border-radius: 4px;
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: none !important;
}

:host ::ng-deep .cal-month-view .cal-day-cell.cal-today {
  background-color: white !important;
}

:host ::ng-deep.cal-day-badge {
  background-color: blue !important;
}

:host ::ng-deep .cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em !important;
}

