#Remove the php extension from the filename
ReWriteEngine On
ReWriteCond %{REQUEST_FILENAME} !-f
ReWriteRule ^([^\.]+)$ $1.php [NC,L]

#Set the headers for the restful api
#Header always set Access-Control-Allow-Origin http://localhost:4200/
#Header always set Access-Control-Max-Age "1000"
#Header always set Access-Control-Allow-Origin "*"
#Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Access-Control-Allow-Origin, Access-Control-Allow-Headers, Authorization"
#Header always set Access-Control-Allow-Methods "HEAD, PUT, GET, POST, DELETE, OPTIONS, PATCH"