#Username{
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}

.profiledesktop{
  display: block;
}

.profilemobile {
  display: none;
}

@media (max-width: 768px) {

  .profilemobile {
    display: block;
  }

  .profiledesktop{
    display: none;
  }


  }

