.user-headings {
  font-weight: 600;
  color: #30235B;
}

.Profileborder{
  border-radius:80%;
  border:10px solid black;
}

.user-texts-web {
  font-size: 17px;
}

.divChart {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

.divBubbleChart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.divBubbleLabels {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.dot {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
}

.daysPlanned {
  background-color: #634C9AFF;
}

.timersUsed {
  background-color: #9F92C6FF;
}

#Username{
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}

.profiledesktop{
  display: block;
}

.profilemobile {
  display: none;
}

.user-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.user-box-icon {
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: end;
}

.height-web-view {
  height: 800px;
}

@media (min-width: 1400px) {
  .height-web-view {
    height: 900px;
  }
}

@media (max-width: 1200px) {
  .height-web-view {
    height: 700px;
  }
}

@media (max-width: 768px) {

  .profilemobile {
    display: block;
  }

  .profiledesktop{
    display: none;
  }

  .indexing-stress {
    position: relative;
    z-index: 0 !important;
  }

  .logout-btn {
    width: 200px;
  }
}

