<div *ngIf="timerStart">
  <div>
    <img src="assets/timer.svg" alt="Timer">
  </div>
  <div>
    <form [formGroup]="rewardForm" novalidate class="form">
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput type="number" [errorStateMatcher]="matcher" formControlName="hours"
               onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;">
        <mat-error *ngIf="rewardForm.get('hours')?.hasError('required')">
          Dieses Feld darf nicht leer sein.
        </mat-error>
        <mat-error *ngIf="rewardForm.get('hours')?.hasError('max')">
          Dieses Feld darf nicht größer als 24 sein.
        </mat-error>
        <mat-error *ngIf="rewardForm.get('hours')?.hasError('min')">
          Dieses Feld darf nicht kleiner als 0 sein.
        </mat-error>
      </mat-form-field>
      :
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput type="number" [errorStateMatcher]="matcher" formControlName="minutes"
               onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;">
        <mat-error *ngIf="rewardForm.get('minutes')?.hasError('required')">
          Dieses Feld darf nicht leer sein.
        </mat-error>
        <mat-error *ngIf="rewardForm.get('minutes')?.hasError('max')">
          Dieses Feld darf maximal 59 betragen.
        </mat-error>
        <mat-error *ngIf="rewardForm.get('hours')?.hasError('min')">
          Dieses Feld darf nicht kleiner als 0 sein.
        </mat-error>
      </mat-form-field>
      :
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput type="number" formControlName="seconds" [readonly]="true">
      </mat-form-field>
      <br>
      <label for="rewardID">Belohnung</label>
      <select formControlName="rewardID" name="reward"
              class="form-control" id="rewardID">
        <option value="" disabled selected>Wähle deine Belohnung aus</option>
        <option *ngFor="let r of rewards" value="{{r.RID}}">{{r.reward}}</option>
      </select>
    </form>
  </div>
  <div>
    <button [disabled]="!rewardForm.valid" class="btn btn-secondary" (click)="startTimer()">Start</button>
  </div>
</div>

<div *ngIf="whileTimer">
  <div>
    <countdown #cd [config]="{leftTime: timerSeconds}" (event)="handleEvent($event)"></countdown>
  </div>
  <div>
    <img src="assets/standard_boi.gif" width="800" height="600" alt="">
  </div>
  <div>
    {{loadedReward}} lädt ...
  </div>
  <div>
    <button class="btn btn-secondary" (click)="cd.stop(); stopTimer()">Abbrechen</button>
  </div>
</div>

<div *ngIf="timerEnd">
  <div>
    <countdown [config]="{leftTime: 0}"></countdown>
  </div>
  <div>
    <img src="assets/FinishedTimer.png" width="800" height="600" alt="">
  </div>
  <div>
    Belohnug geladen!
  </div>
  <div>
    <button class="btn btn-secondary" (click)="getRewards();startState()">Neuer Timer</button>
  </div>
</div>
