:host ::ng-deep .timer > span{
  font-family: Ubuntu, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
  font-size: 42px !important;
  color: #30235B !important;
  padding-top: 0.6em !important;
}
