.switch-screen, .switch-screen-full {
  min-height: 100vh;
}

.switch-screen-small {
  display: none;
}

.login-screen {
  //min-height: 100vh;
}

.input-text {
  font-weight: 600;
}

span{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #30235B;
}

@media (max-width: 768px) {
  .switch-screen {
    display: none!important;
  }

  .switch-screen-small {
    display: block;
  }
}
