<div class="col-md-6">
  <h1 class="text-center">Registrieren</h1>

  <div class="alert alert-danger" *ngIf="userError">
    {{message}}
  </div>

  <div>
    <form [formGroup]="registerForm" class="form" (ngSubmit)="onRegisterSubmit()" autocomplete="off">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" formControlName="firstName" placeholder="First Name" name="firstName"
               class="form-control" id="firstName">
      </div>

      <div class="alert alert-danger"
           *ngIf="registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched">
        Please enter first Name
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" formControlName="lastName" placeholder="Last Name" name="lastName"
               class="form-control" id="lastName">
      </div>
      <div class="alert alert-danger"
           *ngIf="registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched">
        Please enter last Name
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" formControlName="username" placeholder="Username in lower case" name="username"
               class="form-control" id="username" (keypress)="keyPressAlphaNumeric($event)">
      </div>
      <div class="alert alert-danger"
           *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">
        Please enter an Username
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" formControlName="password" placeholder="Password" name="password"
               class="form-control" id="password">
      </div>
      <div class="alert alert-danger"
           *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
        Please enter a Password
      </div>

      <div class="form-group">
        <label for="repeatPassword">Confirm Password:</label>
        <input type="text" formControlName="repeatpassword" placeholder="Password" name="repeatPassword"
               class="form-control" ngValidateEqual="password" id="repeatPassword">
      </div>
      <div class="alert alert-danger"
           *ngIf="registerForm.get('repeatPassword')?.hasError('required') && registerForm.get('repeatPassword')?.touched">
        Please enter your Password
      </div>
      <div class="alert alert-danger"
           *ngIf="registerForm.get('repeatPassword')?.hasError('notEqual') ">
        Passwords must match
      </div>

      <div class="form-group">
        <label for="mail">Email:</label>
        <input type="email" formControlName="mail" placeholder="Email" name="mail" class="form-control" id="mail">
      </div>
      <div class="alert alert-danger"
           *ngIf="registerForm.get('mail')?.hasError('required') && registerForm.get('mail')?.touched">
        Please enter an Email
      </div>

      <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success">Registrieren</button>
    </form>
  </div>
</div>
