<div class="col-md-6">
  <h1 *ngIf="!this.edit" class="text-center">Neuer Task</h1>
  <h1 *ngIf="this.edit" class="text-center">Task bearbeiten</h1>
  <form [formGroup]="insertTaskForm" class="form">

    <input type="hidden" formControlName="TAID" name="TAID">

    <div class="form-group">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Titel</mat-label>
        <input matInput placeholder="Neuer Taskname" formControlName="task_name" id="task_name">
      </mat-form-field>
    </div>

    <!--
    <div class="form-group">
      <label for="task_name">Titel</label>
      <input type="text" formControlName="task_name" placeholder="Neuer Taskname" name="task_name"
             class="form-control" id="task_name">
    </div>
    <div class="alert alert-danger"
         *ngIf="insertTaskForm.get('task_name')?.hasError('required') && insertTaskForm.get('task_name')?.touched">
      Bitte einen Titel für den Task eingeben!
    </div>
    <div class="alert alert-danger"
         *ngIf="insertTaskForm.get('task_name')?.hasError('maxlength') && insertTaskForm.get('task_name')?.touched">
      Max Länge: 30 Zeichen
    </div>-->

    <div class="form-group">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="deadlineDay" min="{{nowDate}}">
        <mat-hint>MM.DD.YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <!--<div class="form-group">
      <label for="deadlineDay">Datum</label>
      <input type="date" formControlName="deadlineDay" placeholder="Datum auswählen" name="deadlineDay"
             class="form-control" id="deadlineDay" min="{{nowDate}}">
    </div>
    <div class="alert alert-danger"
         *ngIf="insertTaskForm.get('deadlineDay')?.hasError('required') && insertTaskForm.get('deadlineDay')?.touched">
      Bitte eine Deadline für den Task wählen!
    </div>-->
    <div class="form-group">
      <label for="deadlineHour">Uhrzeit</label>
      <input type="time" formControlName="deadlineHour" placeholder="Uhrzeit auswählen" name="deadlineHour"
             class="form-control" id="deadlineHour">
    </div>
    <div class="alert alert-danger"
         *ngIf="insertTaskForm.get('deadlineHour')?.hasError('required') && insertTaskForm.get('deadlineHour')?.touched">
      Bitte eine Deadline für den Task wählen!
    </div>

    <div class="form-group">
      <label for="notes">Notizen (optional):</label>
      <input type="text" formControlName="notes" placeholder="Notizen" name="notes"
             class="form-control" id="notes">
    </div>

    <div class="form-group">
      <label for="categoryID">Kategorie (optional):</label>
      <select formControlName="categoryID" placeholder="Kategorie" name="categoryID"
             class="form-control" id="categoryID" (ngModelChange)="onChangeCategory($event)">
        <option *ngFor="let c of categories | category" value="{{c.CAID}}">{{c.category_name}}</option>
      </select>
    </div>

    <div *ngIf="subcategories != undefined && subcategories.length > 0" class="form-group">
      <label for="subcategoryID">Subkategorie (optional):</label>
      <select formControlName="subcategoryID" placeholder="Kategorie" name="subcategoryID"
              class="form-control" id="subcategoryID">
        <option *ngFor="let c of subcategories" value="{{c.CAID}}">{{c.category_name}}</option>
      </select>
    </div>

    <button [disabled]="!insertTaskForm.valid" *ngIf="!this.edit" class="btn btn-success"
            (click)="onInsertTaskSubmit()">Task erstellen
    </button>
    <button [disabled]="!insertTaskForm.valid" *ngIf="this.edit" class="btn btn-success" (click)="onEditTaskSubmit()">
      Task bearbeiten
    </button>
  </form>
</div>
