<div class="col-md-6">
    <h1 *ngIf="!this.edit" class="text-center">Neuer Task</h1>
    <h1 *ngIf="this.edit" class="text-center">Task bearbeiten</h1>
    <form [formGroup]="insertTaskForm" novalidate class="form">

        <input type="hidden" formControlName="TAID" name="TAID">

        <div class="form-group">
            <label for="task_name">Titel</label>
            <input type="text" formControlName="task_name" placeholder="Neuer Taskname" name="task_name"
                class="form-control">
        </div>
        <div class="alert alert-danger"
            *ngIf="insertTaskForm.get('task_name')?.hasError('required') && insertTaskForm.get('task_name')?.touched">
            Bitte einen Titel für den Task eingeben!
        </div>
        <div class="alert alert-danger"
            *ngIf="insertTaskForm.get('task_name')?.hasError('maxlength') && insertTaskForm.get('task_name')?.touched">
            Max Länge: 30 Zeichen
        </div>

        <div class="form-group">
            <label for="deadlineDay">Datum</label>
            <input type="date" formControlName="deadlineDay" placeholder="Datum auswählen" name="deadlineDay"
                class="form-control">
        </div>
         <div class="alert alert-danger"
            *ngIf="insertTaskForm.get('deadline')?.hasError('required') && insertTaskForm.get('deadline')?.touched">
            Bitte eine Deadline für den Task wählen!
        </div>
        <div class="form-group">
            <label for="deadlineHour">Uhrzeit</label>
            <input type="time" formControlName="deadlineHour" placeholder="Uhrzeit auswählen" name="deadlineHour"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="notes">Notizen:</label>
            <input type="text" formControlName="notes" placeholder="Notizen" name="notes"
                class="form-control">
        </div>

        <button *ngIf="!this.edit" class="btn btn-success" (click)="onInsertTaskSubmit()">Task erstellen</button>
        <button *ngIf="this.edit" class="btn btn-success" (click)="onEditTaskSubmit()">Task bearbeiten</button>
    </form>
</div>