.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}    .select select {
       font-family: 'Arial';
       display: inline-block;
       width: 100%;
       cursor: pointer;
       padding: 12px 16px;
       outline: 0;
       border: 1px hidden #000000;
       border-radius: 5px;
       background: #ffffff;

       appearance: none;
       -webkit-appearance: none;
       -moz-appearance: none;
     }
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #ededed;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: -4px;
  right: 25px;
  width: 17px;
  height: 17px;
  border: solid #302065;
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}

:host ::ng-deep span{
  font-size: 15px !important;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

.text-field {
  border: none!important;
  //height: 45px;
  border-radius: 5px;
}

.text-field-mat {
  border: none!important;
  height: 90px;
  padding-left: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.text-select-mat {
  border: none!important;
  height: 45px;
  padding-left: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

:host ::ng-deep .mat-select-arrow-wrapper {
  display: none!important;
}

.display-check {
  position: fixed;
  top: 80%;
  left: 85%;
  z-index: 2;
  background-color: white;
}

.btnImg {
  width: 80px;
  background-color: white;
  border: none;
}

.btnImg:hover{
  width: 110px;
  border: none;
  background-color: white;
}

.check-btn-web {
  padding: 0;
  border: none;
}

.containerCenterWhile{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.text {
  position: absolute;
  top: 0px;
}

@media (max-width: 768px) {
  .display-check {
    display: none;
  }

  .display-check-mobile {
    position: fixed;
    bottom: 39px;
    left: 50%;
    z-index: 2;
  }

  .img-btn {
    width: 45px;
  }

  .containerCenterWhile-mobile{
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
