<h2>{{planned_date}}</h2>

<form [formGroup]="addPlannedTaskForm" class="form">

  <div class="form-group">
    <input type="time" formControlName="start_time" placeholder="Startzeit auswählen" name="start_time"
           class="form-control" id="start_time">
  </div>

  <div class="form-group">
    <input type="time" formControlName="end_time" placeholder="Endzeit auswählen" name="end_time"
           class="form-control" id="end_time">
  </div>

  <br>

  <div class="form-group">
    <label for="taskID">Task hinzufügen</label>
    <select formControlName="taskID" name="taskID"
            class="form-control" id="taskID">
      <option value="" disabled selected>Task</option>
      <option *ngFor="let t of tasks" value="{{t.TAID}}">{{t.task_name}}</option>
    </select>
  </div>

  <button [disabled]="!addPlannedTaskForm.valid" (click)="onAddTaskSumbmit()" class="btn btn-primary">Speichern</button>
  <br>
  <button class="btn btn-primary" (click)="onClose()">Abbrechen</button>
</form>
