<h2>{{planned_date}}</h2>

<form [formGroup]="addPlannedTaskForm" class="form">

  <span *ngIf="this.addPlannedTaskForm.controls['end_time'].touched && this.addPlannedTaskForm.getError('endTimeBeforeStartTime')">
      Ende kann nicht vor Start liegen!
  </span>

  <div class="form-group">
    <input type="time" formControlName="start_time" placeholder="Startzeit auswählen" name="start_time"
           class="form-control" id="start_time">
  </div>

  <div class="form-group">
    <input type="time" formControlName="end_time" placeholder="Endzeit auswählen" name="end_time"
           class="form-control" id="end_time">
  </div>

  <br>

  <div class="form-group">
    <label for="TAID">Task hinzufügen</label>
    <select formControlName="TAID" name="TAID"
            class="form-control" id="TAID">
      <option value="" disabled selected>Task</option>
      <option *ngFor="let t of tasks | notDone" value="{{t.TAID}}">{{t.task_name}}</option>
    </select>
  </div>

  <button *ngIf="this.plannedTask.TAID === 0" [disabled]="!addPlannedTaskForm.valid" (click)="onAddTaskSumbmit()" class="btn btn-primary">Speichern</button>
  <button *ngIf="this.plannedTask.TAID !== 0" [disabled]="!addPlannedTaskForm.valid" (click)="onEditTaskSumbmit()" class="btn btn-primary">Bearbeiten</button>
  <br>
  <button class="btn btn-primary" (click)="onClose()">Abbrechen</button>
</form>
