.overview-style {
  width: 70%;
  height: 4em;
}

.mobile-heading {
  display: none;
}

@media (max-width: 768px) {
  .overview-style {
    width: 90%;
  }

  .mobile-heading {
    display: block;
  }
}

