.overview-style {
  width: 70%;
  height: 4em;
}

.mobile-heading {
  display: none;
}

.text-search-mat {
  border: none!important;
  height: 45px;
  padding-left: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: 0.2rem;
}

.text {
  position: absolute;
  top: 0.2rem;
}

.display-web-header {
  position: absolute;
  right: 3%;
  top: 8px;
}

@media (max-width: 768px) {
  .overview-style {
    width: 90%;
  }

  .mobile-heading {
    display: block;
  }

  .display-web-header {
    position: relative;
  }
}
