<div class="d-flex justify-content-center mt-3">
  <form [formGroup]="formGroup">
    <mat-form-field class="container-shadow text-search-mat bg-light" style="width: 20rem;">
      <mat-label></mat-label>
      <input type="text" class="text"
             placeholder="Alle Tasks durchsuchen"
             matInput
             formControlName="tasks"
             [matAutocomplete]="auto">
      <fa-icon></fa-icon>
      <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of filteredOptions" [value]="item['task_name']" (click)="detailsTask(item)">
          {{item['task_name']}}
        </mat-option>

      </mat-autocomplete>

    </mat-form-field>
  </form>
</div>

<div class="mt-5">
  <button
    class="d-flex justify-content-start align-items-center btn b-1 mx-auto shadow p-3 mb-2 bg-light rounded overview-style"
    (click)="allTasks()">
    <img src="assets/all-tasks.png" width="32rem" style="margin: 0 2rem 0 1rem;" alt="All Tasks Icon">
    Alle Tasks
  </button>
  <br>
  <button
    class="d-flex justify-content-start align-items-center btn mx-auto shadow p-3 mb-2 bg-light rounded overview-style"
    (click)="singleTasks()">
    <img src="assets/single-tasks.png" width="32rem" style="margin: 0 2rem 0 1rem;" alt="Single Tasks Icon">
    Unkategorisiert
  </button>
  <br>
  <button
    class="d-flex justify-content-start align-items-center btn mx-auto shadow p-3 mb-2 bg-light rounded overview-style"
    (click)="allCategories()">
    <img src="assets/categories.png" width="32rem" style="margin: 0 2rem 0 1rem;" alt="Category Icon">Kategorien
  </button>
  <br>
  <button
    class="d-flex justify-content-start align-items-center btn mx-auto shadow p-3 mb-2 bg-light rounded overview-style"
    (click)="myDay()">
    <img src="assets/my-day.png" width="32rem" style="margin: 0 2rem 0 1rem;" alt="My Day Icon">Mein Tag
  </button>
</div>
