<div class="mt-5">
  <button
    class="d-flex justify-content-start align-items-center btn b-1 mx-auto d-block shadow p-3 mb-2 bg-light rounded overview-style"
    (click)="allTasks()">
    <img src="assets/all-tasks.svg" width="25rem" style="margin: 0 2rem 0 1rem;" alt="All Tasks Icon">
    Alle Tasks
  </button>
  <br>
  <button
    class="d-flex justify-content-start align-items-center btn mx-auto d-block shadow p-3 mb-2 bg-light rounded overview-style"
    (click)="singleTasks()">
    <img src="assets/single-tasks.svg" width="25rem" style="margin: 0 2rem 0 1rem;" alt="Single Tasks Icon">
    Unkategorisiert
  </button>
  <br>
  <button
    class="d-flex justify-content-start align-items-center btn mx-auto d-block shadow p-3 mb-2 bg-light rounded overview-style"
    (click)="allCategories()">
    <img src="assets/category.svg" width="25rem" style="margin: 0 2rem 0 1rem;" alt="Category Icon">Kategorien
  </button>
  <br>
  <button
    class="d-flex justify-content-start align-items-center btn mx-auto d-block shadow p-3 mb-2 bg-light rounded overview-style"
    (click)="myDay()">
    <img src="assets/my-day.svg" width="25rem" style="margin: 0 2rem 0 1rem;" alt="My Day Icon">Mein Tag
  </button>
</div>
