<div class="row display-web-only-flex">
  <div class="col">
    <button class="btn" (click)="this.closePopUp()">
      <fa-icon [icon]="faXmark" size="lg"></fa-icon>
    </button>
  </div>
  <div class="col d-flex justify-content-end">
    <button class="btn" (click)="this.closePopUp(); editTask()">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <button class="btn" (click)="this.closePopUp(); deleteTask()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>

<div id="mobile-content-margin">
  <h1 *ngIf="task.task_name" id="detail-task-heading"
      class="display-web-only text-center h1-task-detail">{{task.task_name}}</h1>
  <div class="display-mobile-only text-center">
    <button class="btn" (click)="this.closePopUp(); editTask()">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <button class="btn" (click)="this.closePopUp(); deleteTask()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
  <p class="text-center mt-1 mb-4" *ngIf="task.deadline">{{task.deadline | date: 'EEE, d.M.y'}}<br>
    {{task.deadline | date: 'HH:mm'}} Uhr</p>

  <div class="d-flex justify-content-center mb-5">
    <button class="btn btn-warning container-shadow" *ngIf="task.statusID == 1" (click)="finishTask()">Erledigen
    </button>
    <button class="btn btn-info container-shadow" *ngIf="task.statusID == 2" (click)="unfinishTask()">Erledigt</button>
  </div>

  <div *ngIf="task.notes">
    <h3 class="h3-task-detail">Notizen</h3>
    <p class="text-danger" [innerHTML]="task.notes"></p>
  </div>

  <div *ngIf="category">
    <h3 class="h3-task-detail">Kategorie</h3>
    <p class="text-danger">{{category.category_name}}</p>
  </div>

  <div *ngIf="subcategory">
    <h3 class="h3-task-detail">Subkategorie</h3>
    <p class="text-danger">{{subcategory.category_name}}</p>
  </div>

  <div *ngIf="task.expense">
    <h3 class="h3-task-detail">Schwierigkeitsgrad</h3>
    <p class="text-danger">{{task.expense}}</p>
  </div>

  <div *ngIf="task.stress_factor">
    <h3 class="h3-task-detail">Stresslevel</h3>
    <p class="text-danger">{{task.stress_factor}}/10</p>
  </div>

  <div *ngIf="!task.stress_factor">
    <h3 class="h3-task-detail">Stresslevel</h3>
    <p class="text-danger">0/10</p>
  </div>

  <div>
    <p class="text-done footer-task-detail">
      <span>Erstellt: {{task.created_date | date: 'd.M.y'}}</span><br>
      <span *ngIf="task.updated_date">Zuletzt geändert: {{task.updated_date | date: 'd.M.y'}}</span>
      <span *ngIf="!task.updated_date">Zuletzt geändert: {{task.created_date | date: 'd.M.y'}}</span>
    </p>
  </div>
</div>
