<button class="btn display-web-only" (click)="this.closePopUp()">X</button>

<h1 *ngIf="task.task_name" id="detail-task-heading" class="display-web-only">{{task.task_name}}</h1>

<p *ngIf="task.deadline">{{task.deadline | date: 'EEE, d.M.y'}}</p>
<p *ngIf="task.deadline">{{task.deadline | date: 'HH:mm'}} Uhr</p>

<button *ngIf="task.statusID == 1" (click)="finishTask()">Erledigen</button>
<button *ngIf="task.statusID == 2" (click)="unfinishTask()">Erledigt</button>

<div *ngIf="task.notes">
  <h2>Notizen</h2>
  <p>{{task.notes}}</p>
</div>

<div *ngIf="category">
  <h2>Kategorie</h2>
  <p>{{category.category_name}}</p>
</div>

<div *ngIf="subcategory">
  <h2>Subkategorie</h2>
  <p>{{subcategory.category_name}}</p>
</div>

<div *ngIf="task.expense">
  <h2>Schwierigkeitsgrad</h2>
  <p>{{task.expense}}</p>
</div>

<div *ngIf="task.stress_factor">
  <h2>Stresslevel</h2>
  <p>{{task.stress_factor}}/10</p>
</div>

<div>
  <p>Erstellt: {{task.created_date | date: 'd.M.y'}}</p>
  <p *ngIf="task.updated_date">Zuletzt geändert: {{task.updated_date | date: 'd.M.y'}}</p>
</div>

<button class="btn btn-success" (click)="this.closePopUp(); editTask()">Edit</button>

<button class="btn btn-danger" (click)="this.closePopUp(); deleteTask()">Delete</button>
