.footer-task-detail {
  font-size: 12px;
}

.h1-task-detail {
  font-size: 30px;
}

.h3-task-detail {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.doneBtn-1 {
  background-color: #D0C7EC;
}

.doneBtn-2 {
  background-color: #9F92C6;
  color: white;
}

.doneBtn-3 {
  background-color: #634C9A;
  color: white;
}

.doneBtn-Img {
  width: 150px;
  background-image: url("../../../assets/check.svg");
  background-size: 20%;
  background-position: left 25px top 2px;
  background-repeat: no-repeat;
  text-align: right;
  padding-right: 30px;
}

.not-doneBtn {
  width: 150px;
}

@media (max-width: 768px) {
  .footer-task-detail {
    font-size: 12px;
  }

  .mobile-margin-content {
    margin: 0 1.5rem;
  }

  .h3-task-detail {
    font-size: 18px;
  }
}
