.footer-task-detail {
  font-size: 12px;
}

.h1-task-detail {
  font-size: 30px;
}

.h3-task-detail {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer-task-detail {
    font-size: 12px;
  }

  .mobile-margin-content {
    margin: 0 1.5rem;
  }
}
