<div class="row m-0">
<div class="col-md-7 d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center">Willkommen zurück!</h1>
  <div class="alert alert-danger" *ngIf="message">
    {{message}}
  </div>
  <div class="alert alert-success" *ngIf="createdUser">
    User erfolgreich erstellt!
  </div>

  <div class="mt-4">
    <form [formGroup]="loginForm" class="form" (ngSubmit)="onLoginSubmit()" autocomplete="off">
      <div class="form-group">
        <label for="username">Username oder Mail:</label>
        <input type="text" formControlName="username" placeholder="Username oder Mail" name="login"
               class="form-control" id="username">
      </div>
      <div class="alert alert-danger"
           *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
        Bitte geben Sie Ihren Usernamen oder E-Mail ein.
      </div>
      <div class="alert alert-danger"
           *ngIf="loginForm.get('username')?.hasError('maxlength')">
        Der Username bzw. die E-Mail darf maximal 30 Zeichen lang sein.
      </div>

      <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" formControlName="password" placeholder="Passwort" name="password"
               class="form-control" id="password">
      </div>
      <div class="alert alert-danger"
           *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
        Please enter your Password
      </div>
      <div class="alert alert-danger"
           *ngIf="loginForm.get('password')?.hasError('maxlength')">
        Das Passwort darf maximal 30 Zeichen lang sein.
      </div>
      <div class="alert alert-danger"
           *ngIf="loginForm.get('password')?.hasError('minlength')">
        Das Passwort muss mindestens 6 Zeichen lang sein.
      </div>

      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Einloggen</button>
    </form>
  </div>
</div>
<div class="col-md-5 bg-login d-flex flex-column justify-content-center align-items-center switch-screen">
  <img src="assets/logo.png" alt="Logo" width="30%">
  <div class="mt-5">
    <h2 class="text-light">Noch keinen Account?</h2>
    <span><a routerLink="/register">Erstelle jetzt einen neuen Account</a></span>
    <button class="btn btn-light text-primary">Registrieren</button>
  </div>
</div>

</div>
