<form class="form d-flex flex-column justify-content-center align-items-center text-center mx-3 my-1" autocomplete="off">
  <h1 class="m-0 p-0">Oje!</h1>
  <p>Du hast dein Stresslevel überschritten<br>
    Zeit für eine Pause von mindestens:</p>
  <p *ngIf="btnState; else none">{{display}}</p>

  <ng-template #none>
    <p>00:00</p>
  </ng-template>

  <button class="btn btn-primary reminder-btn" id="reset-stress" (click)="resetDailyStresslevel()" [disabled]="btnState">Stresslevel
    zurücksetzen
  </button>
  <button class="btn btn-primary mt-2 reminder-btn" id="divide-stress" (click)="modifyDailyStresslevel()" [disabled]="btnState">
    Stresslevel halbieren
  </button>

  <button class="btn btn-primary mt-4 reminder-btn" (click)="onClose()">Ignorieren</button>
</form>
