<div class="col-md-6">
  <h2 class="text-center">Add Students</h2>
  <form [formGroup]="addForm" novalidate class="form">
    <!--   <div class="form-group">
           <label for="sId">Student Id:</label>
           <input type="number" formControlName="sId" placeholder="Students Id" name="sId" class="form-control">
       </div>-->

    <div class="form-group">
      <label for="fName">Student First Name:</label>
      <input type="text" formControlName="fName" placeholder="Students First Name" name="fName"
             class="form-control" id="fName">
    </div>
    <div class="alert alert-danger"
         *ngIf="addForm.get('fName')?.hasError('required') && addForm.get('fName')?.touched">
      Please enter first Name
    </div>

    <div class="form-group">
      <label for="lName">Student Last Name:</label>
      <input type="text" formControlName="lName" placeholder="Students Last Name" name="lName"
             class="form-control" id="lName">
    </div>
    <div class="alert alert-danger"
         *ngIf="addForm.get('lName')?.hasError('maxlength') && addForm.get('lName')?.touched">
      Max Length: 10 Characters
    </div>
    <div class="alert alert-danger"
         *ngIf="addForm.get('lName')?.hasError('required') && addForm.get('lName')?.touched">
      Please enter last Name
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>
    <div class="alert alert-danger"
         *ngIf="addForm.get('email')?.hasError('maxlength') && addForm.get('email')?.touched">
      Max Length: 30 Characters
    </div>
    <div class="alert alert-danger"
         *ngIf="addForm.get('email')?.hasError('required') && addForm.get('email')?.touched">
      Please enter Email
    </div>

    <button class="btn btn-success" (click)="onSubmit()">Save</button>
  </form>
</div>
