<form [formGroup]="finishForm" class="form d-flex flex-column justify-content-center align-items-center mx-5 my-3" autocomplete="off">
  <h1 class="p-0">Super gemacht!</h1>
  <p>Wie schwierig war dieser Task?</p>
  <mat-button-toggle-group class="d-flex flex-column align-items-center w-100" name="expenseID" formControlName="expenseID">
    <mat-button-toggle class="btn btn-info text-light finish-btn-group" value="1">Leicht</mat-button-toggle>
    <mat-button-toggle class="btn btn-success text-light finish-btn-group" value="2">Mittel</mat-button-toggle>
    <mat-button-toggle class="btn btn-secondary text-light finish-btn-group" value="3">Schwer</mat-button-toggle>
  </mat-button-toggle-group>
  <br>
  <p class="mb-0">Wie stressig war dieser Task?</p>
  <!--<input type="range" min="0" max="10" name="stress_factor" formControlName="stress_factor">-->
  <mat-slider min="0" max="10" name="stress_factor" formControlName="stress_factor" class="stress-slider">
    <input matSliderThumb>
  </mat-slider>
  <br>

  <button [disabled]="!finishForm.valid" (click)="onFinishSubmit()" class="btn btn-primary mb-1 finish-btn">Abschließen</button>
  <button class="btn btn-light border finish-btn" (click)="onClose()">Abbrechen</button>
</form>



