<form [formGroup]="finishForm" class="form d-flex flex-column justify-content-center align-items-center mx-3 my-1"
      autocomplete="off">
  <h1 class="p-0">Super gemacht!</h1>
  <p>Wie schwierig war dieser Task?</p>
  <mat-button-toggle-group class="d-flex flex-column align-items-center w-100" name="expenseID"
                           formControlName="expenseID">
    <mat-button-toggle class="btn btn-light border finish-btn-group" id="toggle-btn-1" value="1">Leicht
    </mat-button-toggle>
    <mat-button-toggle class="btn btn-light border finish-btn-group" id="toggle-btn-2" value="2">Mittel
    </mat-button-toggle>
    <mat-button-toggle class="btn btn-light border finish-btn-group" id="toggle-btn-3" value="3">Schwer
    </mat-button-toggle>
  </mat-button-toggle-group>
  <br>
  <p class="mb-3">Wie stressig war dieser Task?</p>
  <mat-slider thumbLabel min="0" max="10" formControlName="stress_factor">
    <div>
      <input matSliderThumb>
    </div>
  </mat-slider>
  <br>

  <button [disabled]="!finishForm.valid" (click)="onFinishSubmit()" class="btn btn-primary mb-1 finish-btn">
    Abschließen
  </button>
  <button class="btn btn-light border finish-btn" (click)="onClose()">Abbrechen</button>
</form>



