/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }



// Your variable overrides
$theme-colors: (
  "primary": #30235B,
  "secondary": #634C9A,
  "success": #9F92C6,
  "info": #D0C7EC,
  "warning": #E6E1F1,
  "danger": #000000,
  "light": #ffffff,
  "dark": #D9D9D9
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.bg-primary {
  background-color: #30245B!important;
}

.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  padding: 13px 18px;
  border: none;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

.task-deadline {
  font-size: 10px;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  color: #30235B;
  padding-top: 0.5em;
}

body{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #30235B;
}
