/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Your variable overrides
$theme-colors: (
  "primary": #30235B,
  "secondary": #634C9A,
  "success": #9F92C6,
  "info": #D0C7EC,
  "warning": #E6E1F1,
  "danger": #000000,
  "light": #ffffff,
  "dark": #D9D9D9
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/angular-calendar/css/angular-calendar.css";


.bg-primary {
  background-color: #30245B!important;
}

.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  padding: 13px 18px;
  border: none;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

.task-deadline {
  font-size: 10px;
}
