/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;}

// Your variable overrides
$theme-colors: (
  "primary": #30235B,
  "secondary": #634C9A,
  "success": #9F92C6,
  "info": #D0C7EC,
  "warning": #E6E1F1,
  "danger": #000000,
  "light": #ffffff,
  "dark": #D9D9D9,
  "done": #ADADAD,
  "login": #30245B
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import "swiper/swiper-bundle.css";
@import "swiper/swiper-bundle.min.css";
@import "swiper/swiper.min.css";
@import 'swiper/modules/pagination/pagination.min.css';
@import 'swiper/modules/navigation/navigation.min.css';
@import '../node_modules/angular-calendar/scss/angular-calendar';

.tasmovo-theme {
  // First define some global color variables for your app, these are just for the demo, they can be anything you like
  $bg-transparent: rgba(0,0,0,0);
  $bg-primary: #FFFFFF;
  $bg-secondary: #E6E2F2;
  $bg-active: #F4F0FF;
  $text-color: #30235B;
  $border-color: rgba(230, 226, 242, 80%);

  // Call the calendar mixin with a sass color map of your theme. Every property is optional.
  // For a list of all variables and how they are used,
  // see https://github.com/mattlewis92/angular-calendar/tree/main/projects/angular-calendar/src/variables.scss
  @include cal-theme(
      (
        bg-primary: $bg-transparent,
        weekend-color: $text-color,
        border-color: $border-color,
        bg-active: $bg-active,
        today-bg: $bg-secondary,
      )
  );

  .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1em;
  }

  .cal-days {
    border: none;
    color: $text-color;
    background-color: $bg-primary;
  }

  .cal-month-view .cal-header {
    background-color: rgba(0,0,0,0);
    min-height: 50px;
  }

  .cal-month-view .cal-cell-row {
    text-align: center;
    align-items: center;
  }

  .cal-month-view .cal-cell-top {
    display: flex;
    justify-content: center;
    min-height: 30px;
  }

  .cal-month-view .cal-events {
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
  }

  .cal-month-view .cal-day-number {
    margin-right: 0;
    font-size: 1em;
    margin-bottom: 5px;
  }

  .cal-month-view .cal-day-cell, .cal-month-view .cal-cell-row{
    border: none;
  }

  .cal-month-view .cal-day-cell {
    border-top: 1px solid $border-color;
  }

  .cal-hour-segment .cal-hour-start {
    height: 50px!important;
  }

  @media (max-width: 768px) {
    .cal-month-view .cal-event {
      height: 6px;
      width: 6px;
      margin: 1px;
    }
  }

}


.bg-primary {
  background-color: #30245B!important;
}

.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  padding: 13px 18px;
  border: none;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

.task-deadline {
  font-size: 13px!important;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
  color: #30235B;
  padding-top: 0.6em;
}

h2{
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #30235B;
}

body{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #30235B;
}

//DON'T OVERRIDE SPAN STYLING

.doneBtn-1 {
  background-color: #D0C7EC;
}

.doneBtn-2 {
  background-color: #9F92C6;
}

.doneBtn-3 {
  background-color: #634C9A;
}

.doneBtn-Img {
  background-image: url("/assets/check.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.task-bottom {
  border-bottom: 1px #dee2e6 solid;
}

.task-bottom:last-child {
  border-bottom: none;
}

.task-pointer {
  cursor: pointer;
}

.mobile-heading {
  display: none;
}

//styling of dropdown fields
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}    .select select {
       font-family: 'Arial';
       display: inline-block;
       width: 100%;
       cursor: pointer;
       padding: 12px 16px;
       outline: 0;
       border: 1px hidden #000000;
       border-radius: 10px;
       background: #ffffff;

       appearance: none;
       -webkit-appearance: none;
       -moz-appearance: none;
     }
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #ededed;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 42px;
  right: 29px;
  width: 17px;
  height: 17px;
  border: solid #302065;
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}

.container-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

//styling of elements only meant for web or mobile
.display-web-only {
  display: block;
}

.display-web-only-flex {
  display: flex;
}

.display-web-only-inline {
  display: inline-block;
}

.display-mobile-only {
  display: none;
}

.display-mobile-only-flex {
  display: none;
}

//styling of devices with max width 768px
@media (max-width: 768px) {
  .mobile-heading {
    display: block;
  }

  h1 {
    font-size: 30px;
  }

  h2{
    font-size: 25px;
  }

  body{
    font-size: 18px;
  }

  .display-web-only {
    display: none;
  }

  .display-web-only-flex {
    display: none;
  }

  .display-web-only-inline {
    display: none;
  }

  .display-mobile-only {
    display: block;
  }

  .display-mobile-only-flex {
    display: flex;
  }

  .mobile-distance {
    margin-bottom: 100px;
  }

  .mobile-distance-sm {
    margin-bottom: 60px;
  }

}
