<!--<div class="d-flex align-items-center justify-content-center landing-container">
  <div class="d-flex flex-column align-items-center text-center">
    <h1 class="mb-2">Willkommen bei Tasmovo</h1>
    <h2>Deine Plattform für Organisation, Stresstracking und Motivationshilfen</h2>
    <h3 class="mt-2 mb-4" *ngIf="dailyQuote">"{{dailyQuote.quote}}"</h3>
    </div>
</div>-->
<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">

  <!--Content before waves-->
  <div class="inner-header flex flex-column">
    <h1>Willkommen bei Tasmovo</h1>
    <h4 class="text-primary mt-3" *ngIf="dailyQuote">"{{dailyQuote.quote}}"</h4>
    <button routerLink="login" routerLinkActive="active" class="btn btn-primary mt-4 mb-2 btn-landing">Login</button>
    <button routerLink="register" routerLinkActive="active" class="btn btn-primary m-2 btn-landing">Registrieren</button>
  </div>

  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(99,76,154,0.7"/>
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(159,146,198,0.5)"/>
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(230,226,242,0.3)"/>
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#30235b"/>
      </g>
    </svg>
  </div>
  <!--Waves end-->

</div>
<!--Header ends-->

<!--Content starts-->
<div class="content flex">
  <p class="text-light">By Tasmovo | Media Lab Mobile </p>
</div>
<!--Content ends-->
