.cal-event-title {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

:host ::ng-deep .cal-current-time-marker {
  z-index: 0!important;
  background-color: #30235B;
}

:host ::ng-deep .cal-event-action {
  color: red;
}

.my-day-tags {
  display: block;
  vertical-align: middle;
  height: 12px;
  line-height: 12px;
  font-size: 9px!important;
  text-align: center;
  margin: 2px;
}

.myDay-remove-btn {
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
 }


.myDay-btn-circle {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .btn-heading {
    top: 130px;
  }

  .distance-top {
    margin-top: 200px;
  }

  .top-fixed {
    position: fixed;
    top: 140px;
    right:0;
    left:0;
    z-index: 2;
  }

  .events-index {
    position: relative;
    z-index: 0!important;
  }
}
