.cal-event-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

:host ::ng-deep .cal-current-time-marker {
  z-index: 0!important;
}

@media (max-width: 768px) {
  .btn-heading {
    top: 130px;
  }

  .distance-top {
    margin-top: 200px;
  }

  .top-fixed {
    position: fixed;
    top: 140px;
    right:0;
    left:0;
    z-index: 2;
  }
}
